* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.completed {
  text-decoration: line-through;
}

body {
  text-align: center;
  margin: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 {
  padding-bottom: 30px;
  padding-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sectionInputBtn {
  padding-top: 25px;
}

#sectionOl {
  padding-top: 25px;
}

section ol {
  list-style: none;
}