* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.completed {
  text-decoration: line-through;
}

body {
  text-align: center;
  margin: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 {
  padding-bottom: 30px;
  padding-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sectionInputBtn {
  padding-top: 25px;
}

#sectionOl {
  padding-top: 25px;
}

section ol {
  list-style: none;
}

#sectionBtn {
  padding-top: 25px;
}

#create-task:hover {
  background-color: rgb(156 156 156);
  color: black;
  transition: 0.3s;
}

#create-task {
  border-radius: 5px;
  width: 100px;
  height: 25px;
  background-color: rgb(16 78 139);
  color: white;
}

#task-text {
  height: 25px;
  border-radius: 5px;
}