* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.completed {
  text-decoration: line-through;
}

body {
  text-align: center;
  margin-top: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cover {
  background-image: url(assets/fundo1.png);
  background-size: cover;
  min-height: 100vh;
}

header h1 {
  padding-bottom: 30px;
  padding-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sectionInputBtn {
  padding-top: 25px;
}

#sectionOl {
  padding-top: 25px;
}

section ol {
  list-style: none;
}

#sectionBtn {
  padding-top: 25px;
  padding-bottom: 25px;
}

#task-text {
  height: 25px;
  border-radius: 5px;
}

.buttons {
  padding: 2px ;
  margin-right: 5px;
  border-radius: 5px;
  background-color: rgb(16 78 139);
  color: white;
}

.buttons:hover {
  background-color: rgb(156 156 156);
  color: black;
  transition: 0.3s;
}

#all-contente {
  border: 5px solid #C2E4E0;
  border-radius: 20px;
  width: 60%;
  background-color: #c2e4e062;
}